
body {
   color: white; 
   font-size: 50px;
   text-align: center;
}


.wrapper {
    margin: 30px auto;
    padding: 30px;
    max-width: 60%;
    height: 900px;
    border: 2px solid red;
    background-color: rgb(181, 253, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 168, 140);
}

.main {
    display: flex;
    justify-content: space-between;
}

.aside {
    width: 300px;
    height: 600px;
    background-color: rgb(0, 219, 37);
   
}

.article {
    width: 800px;
    height: 600px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
} 

.article_inside {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 219, 152);
}

.footer {
    background-color: rgb(0, 168, 140);
    width: 100%;
    height: 100px;
}